name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  ci:
    name: CI
    permissions:
      contents: read
    uses: FollowTheProcess/ci/.github/workflows/Go.yml@v3

  docs:
    name: Docs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up Nox
        uses: wntrblm/nox@2025.11.12
        with:
          python-versions: "3.13"

      - name: Build Docs
        run: nox --non-interactive --session build
